.env
node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
git-command.md
LMS.docx
lms_frontend_chatgpt_context.md
lms_pm_answers_compact.md
lms_pm_answers_next_stage.md
lms-frontend-tasks.md
